/*
 * -------------------------------------------------
 *  Nextflow config file for running desktop
 * -------------------------------------------------
 * Use as follows:
 * nextflow run acne -profile local
 */


params {
  config_profile_name = 'Local profile'
  config_profile_description = 'Parameters to enable running on local'
  max_cpus = 1
  max_memory = 16.GB
  max_time = 24.h
}


executor {
  queueSize = 1
}

cleanup = false

docker {
  enabled=false
}

singularity {
      enabled = true
}
