/*
 * -------------------------------------------------
 *  Nextflow config file for running desktop
 * -------------------------------------------------
 * Use as follows:
 * nextflow run acne -profile local_mac
 */


params {
  config_profile_name = 'Local Mac profile'
  config_profile_description = 'Parameters to enable running on mac as local'
  max_cpus = 2
  max_memory = 8.GB
  max_time = 24.h
}

cleanup = false

docker {
  enabled=true
}

singularity {
      enabled = false
}
